:root {
    --color-primary: #fb565a;
    --color-second: #00ca74;
    --color-third: #efc84a;
    --color-fourth: #eeeeee;
    --color-fifth: #000000;
}

/*Временно отключил блоки*/
.block-hero-2,
.block-hero-3 {
    display: none;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #ffffff;
    min-width: 1200px;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    font: inherit;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--color-primary);
    border: none;
    border-radius: 3px;
    font-weight: 500;
}

.main-header {
    background-color: #eeeeee;
}

.main-header .container {
    display: flex;
    justify-content: space-between;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    width: 1160px;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 35px;
}

.main-header-logo {
    width: 160px;
    height: 65px;
}

.main-header-logo:hover {
    opacity: 0.8;
}

.main-header-logo:active {
    opacity: 0.3;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    width: 440px;
    margin: 0;
    padding: 0;
    padding-top: 28px;
    list-style: none;
}

.main-navigation a {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: var(--color-fifth);
}

.user-navigation {
    position: relative;
    width: 145px;
    margin: 0;
    padding: 0;
    padding-top: 28px;
    list-style: none;
}

.user-navigation li:before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    top: 50%;
    left: 30px;
    background-image: url("../img/busket.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-navigation a {
    padding-left: 70px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: var(--color-fifth);
}

.main-navigation a:hover,
.user-navigation a:hover {
    color: var(--color-primary);
}

.main-navigation a:active,
.user-navigation a:active {
    color: var(--color-fifth);
    opacity: 0.3;
}

.active {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
}

.wrapper {
    background-color: var(--color-fourth);
    width: 100%;
}

.slider {
    position: relative;
    margin-bottom: 80px;
}

.block-hero-1 {
    background-image: url("../img/slide1.png");
    background-position: top right;
    background-repeat: no-repeat;
}

.block-hero-2 {
    background-image: url("../img/slide2.png");
    background-position: top right;
    background-repeat: no-repeat;
}

.block-hero-3 {
    background-image: url("../img/slide3.png");
    background-position: top right;
    background-repeat: no-repeat;
}

.block-hero-1,
.block-hero-2,
.block-hero-3 {
  display: none;
}

.slide-show {
    display: block;
    animation-name: hide;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.down {
    animation-name: down;
}

.sliders-control {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 90px;
    bottom: 85px;
    left: 50%;
}

.slider-controls__button {
    position: relative;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border: 0;
    border-radius: 50%;
}

.slider-controls__button__active::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
    animation-name: hide;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.sliders-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    width: 515px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.slide p:first-child {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    font-size: 55px;
    line-height: 55px;
    text-transform: none;
    font-weight: 500;
    color: var(--color-fifth);
}

.slide p:nth-child(2) {
    width: 440px;
    margin: 0;
    padding: 0;
    margin-bottom: 45px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-transform: none;
    color: var(--color-fifth);
}

.slide a {
    padding: 18px 53px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
}

.slide a:hover {
    background-color: #e74246;
}

.slide a:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
}

.services {
    padding-bottom: 80px;
    margin-bottom: 40px;
    border-bottom: 2px solid var(--color-fourth);
}

.services-list {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
}

.services-item {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.services-item img {
    order: 1;
}

.services-item h2 {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    order: 2;
}

.services-item p {
    order: 3;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    text-transform: none;
}

.services-item button {
    width: 160px;
    order: 4;
    font-size: 16px;
    line-height: 18px;
    padding: 17px 40px;
}

.services-item:first-child button:hover {
    background-color: #e74246;
}

.services-item:first-child button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
}

.services-item:nth-child(2) button {
    background-color: var(--color-second);
}

.services-item:nth-child(2) button:hover {
    background-color: #00bc6c;
}

.services-item:nth-child(2) button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #00aa62;
}

.services-item:nth-child(3) button {
    background-color: var(--color-third);
}

.services-item:nth-child(3) button:hover {
    background-color: #eab534;
}

.services-item:nth-child(3) button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #e5a722;
}

.about-us {
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
    border-bottom: 2px solid var(--color-fourth);
}

.company {
    width: 660px;
}

.company b {
    display: block;
    padding-top: 33px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    text-transform: none;
}

.company p {
    margin: 0;
    margin-top: 45px;
    margin-bottom: 35px;
    padding: 0;
    text-transform: none;
}

.company h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 40px;
}

.types-development-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.types-development-item {
    position: relative;
    padding-left: 35px;
    text-transform: none;
    margin-bottom: 30px;
}

.types-development-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 2px;
    background-color: var(--color-primary);
}

.company-statistic {
    width: 360px;
}

.company-statistic img {
    margin-bottom: 40px;
}

.company-statistic b {
    display: block;
    font-weight: 700;
    margin-bottom: 50px;
}

.statistics-list {
    margin: 0;
    padding: 0;
    display: flex;
}

.statistics-list .statistics-item {
    display: flex;
    flex-direction: column;
    width: 120px;
}

.statistics-list .statistics-item dt {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    margin-bottom: 22px;
}

.statistics-list .statistics-item dt sup {
    font-size: 25px;
}

.statistics-list .statistics-item dd {
    margin: 0;
    padding: 0;
    text-transform: none;
}

.our-works {
    margin-bottom: 80px;
    border-bottom: 2px solid var(--color-fourth);
}

.our-works-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-top: 46px;
    padding-bottom: 48px;
    list-style: none;
}

.our-works-item {
    position: relative;
}

.our-works-item:not(:nth-child(4n+4))::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 52px;
    right: -70px;
    bottom: 60%;
    transform: translateY(50%);
    background-color: #eee;
}

.our-works-item a {
    opacity: 0.2;
}

.our-works-item a:hover {
    opacity: unset;
    transition: .6s ease-in-out;
}

.our-works-item:active {
    opacity: 0.2;
}

.contacts {
    position: relative;
    margin-bottom: 70px;
}

.contacts img {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    width: 100%;
    height: 416px;
    transform: translateX(-50%);
    object-fit: cover;
    object-position: 50% 50%;
}

.contacts iframe {
    position: relative;
    z-index: 2;
    width: 100%;
    border: none;
}

.contacts-info {
    position: absolute;
    background-color: #ffffff;
    top: 52px;
    width: 220px;
    padding: 48px 50px 47px;
    z-index: 2;
}

.contacts-info b {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: var(--color-fifth);
}

.contacts-text {
    margin: 0;
    margin-bottom: 20px;
    padding: 24px 0 0;
    font-size: 16px;
    line-height: 18px;
    text-transform: none;
    color: #666666;
}

.contacts-info span {
    font-size: 16px;
    line-height: 18px;
    text-transform: none;
    color: #666666;
}

.contacts-tel {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
}

.contacts-tel a {
    font-size: 16px;
    line-height: 18px;
    text-transform: none;
    color: #666666;
}

.contacts-info button {
    padding-top: 18px;
    padding-right: 44px;
    padding-bottom: 19px;
    padding-left: 44px;
}

.contacts-info button:hover {
    background-color: #e74246;
}

.contacts-info button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
}

.page-wrapper {
    background-color: var(--color-fourth);
    margin-bottom: 60px;
}

.page-container {
    margin: 0 auto;
}

.page-header {
    margin: 0;
    padding: 0 20px;
    padding-top: 85px;
    padding-bottom: 117px;
    text-align: center;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    text-transform: none;
}

.inner-wrapper {
    display: flex;
    justify-content: space-between;
}

.social-wrapper {
    display: flex;
    justify-content: space-between;
}

.main-filters {
    width: 260px;
}

.form-fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.form-legend {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}

.range-control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 80px;
    background-color: var(--color-fourth);
    border-radius: 4px;
    margin-bottom: 15px;
}

.progress {
    position: relative;
    width: 220px;
    height: 2px;
    background-color: #dfe2e3;
}

.current-progress {
    width: 150px;
    height: 2px;
    background-color: #4fd69d;
}

.price-filter__range-handle {
    position: absolute;
    top: -9px;
    box-sizing: content-box;
    padding: 0;
    width: 4px;
    height: 4px;
    border: 8px solid #ffffff;
    border-radius: 50%;
    background-color: #b7b7b7;
    box-shadow: 0 2px 0 0 rgba(0,0,0,.14);
    cursor: pointer;
}

.price-filter__range-handle--max {
   left: 150px;
}

.range-display {
    display: flex;
    justify-content: space-between;
    width: 260px;
    padding: 0;
    margin: 0;
}

.range-display label {
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

.range-display label input {
    box-sizing: border-box;
    margin-left: 12px;
    padding: 2px;
    width: 80px;
    height: 38px;
    border-radius: 2px;
    border: 0;
    text-align: center;
    background-color: var(--color-fourth);
}

.range-display label input:focus {
    border: 1px solid #b7b7b7;
    outline: 0;
}

.form-fieldset:first-child {
    margin: 0 0 45px;

    border: 0;
}

.form-fieldset:first-child .form-legend {
    margin-bottom: 57px;
}

.form-fieldset:not(:first-child) .form-legend {
    margin-bottom: 16px;
}

.form-fieldset ul {
    margin: 0;
    margin-bottom: 45px;
    padding: 0;
    list-style: none;
}

.filter-option-list {
    position: relative;
}

.filter-option {
    margin-bottom: 17px;
}

.filter-option label {
    padding-left: 36px;
    font-size: 16px;
    line-height: 20px;
    text-transform: none;
}

.filter-option label:hover {
    cursor: pointer;
}

.check-input {
    position: relative;
    appearance: none;
}

.radio {
    position: absolute;
    width: 25px;
    height: 25px;
    transform: translateY(-1px);
    left: 0;
    background-image: url("../img/radio-off.svg");
    opacity: 0.4;
}

.check-input:checked + .radio {
    background-image: url("../img/radio-on.svg");
    opacity: 0.4;
}

.filter-option:hover .radio {
    opacity: unset;
    transition: 1s;
}

.check-input:disabled + .radio,
.check-input:disabled + .radio:hover {
    opacity: 0.1;
}

.checkbox {
    position: absolute;
    width: 26px;
    height: 23px;
    left: 0;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}

.check-input:checked + .checkbox {
    background-repeat: no-repeat;
    background-image: url("../img/checkbox-on.svg");
    background-position: 0 0;
    opacity: 0.4;
}

.filter-option-list .filter-option:hover .checkbox {
   opacity: unset;
    transition: 1s;
}

.check-input:disabled + .checkbox,
.check-input:disabled + .checkbox:hover {
    opacity: 0.1;
}

.container-filter {
    display: flex;
}

.catalog {
    width: 760px;
}

.type-sorting-list {
    display: flex;
    justify-content: space-between;
    width: 280px;
    margin: 0;
    margin-left: 265px;
    padding: 0;
    list-style: none;
}

.type-sorting-list li a {
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    opacity: 0.3;
}

.type-sorting-list .type-sorting-list-active a {
    opacity: 1;
}

.direction-sorting-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40px;
    margin: 0;
    margin-left: 50px;
    padding: 0;
    list-style: none;
}



.direction-sorting-list li a {
    display: block;
    width: 0;
    height: 0;
    border-left: 5.5px solid transparent;
    border-right: 5.5px solid transparent;
    border-bottom: 10px solid rgba(0,0,0,.2);
    color: currentColor;
    transition: border-bottom-color .3s linear;
}

.direction-sorting-list li:first-child a {
    transform: rotate(180deg);
    border-bottom-color: #000000;
}

.catalog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 760px;
    margin: 0;
    margin: 62px 0 58px;
    padding: 0;
    list-style: none;
}

.catalog-item {
    position: relative;
    width: 360px;
    margin-bottom: 35px;
    border: 1px solid #e9eff2;
    border-top: 40px solid rgba(68,68,68,.12);
    border-radius: 5px;
    transition: .6s ease-in-out;
}

.catalog-item:hover {
    border-top-color: #444;
    box-shadow: 0 6px 15px 0 rgba(0,0,0,.25);
    transition: .6s ease-in-out;
}

.catalog-item::before {
    content: "";
    position: absolute;
    left: 16px;
    top: -27px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 23px 0 0 #fff, 46px 0 0 #fff;
}

.catalog-item {
    width: 360px;
    height: 576px;
}

.catalog-item-description {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 230px;
    background-color: #eee;
    opacity: 0;
    transition: .6s ease-in-out;
}

.catalog-item:hover .catalog-item-description{
    opacity: 1;
    transition: .6s ease-in-out;
}

.site-price {
    padding-top: 20px;
    padding-bottom: 43px;
    padding-right: 65px;
    padding-left: 65px;
}

.site-price a h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 19px;
    line-height: 30px;
    font-weight: 700;
    color: var(--color-fifth);
}

.site-price p {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    text-transform: none;
    text-align: center;
    color: #666666;
}

.site-price .button {
    display: block;
    padding: 18px 60px;
}

.catalog-item-description:hover {
    display: block;
}

.pagination-list {
    display: flex;
    justify-content: space-between;
    width: 443px;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
    margin-left: 400px;
    list-style: none;
}

.pagination-item a {
    padding: 15px 20px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    border-radius: 4px;
    background-color: var(--color-fourth);
    color: #000000;
}

.pagination-item:first-child a {
    box-shadow: inset 0 0 0 3px #dbdbdb;
    background-color: transparent;
}

.pagination-item:last-child a {
    padding-left: 80px;
    padding-right: 80px;
}

.pagination-list a:hover:not(.current) {
    background-color: #dfdfdf;
}

.pagination-list a:active:not(.current) {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5d5d5;
}



form .button {
    padding: 18px 90px;
    background-color: var(--color-fourth);
    color: var(--color-fifth);
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

form .button:hover {
    background-color: #dfdfdf;
}

form .button:active {
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
}

.social-list {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-item {
    margin-right: 12px;
}

.social-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    background-color: #e1e1e1;
    border-radius: 50%;
}

.social-item a:hover {
    background-color: #e74246;
}

.social-item a:active {
    background-color: #d7373b;
}

.social-item a:active img {
    opacity: 0.3;
}

.slogan {
    font-size: 36px;
    line-height: 36px;
    color: var(--color-fifth);
    text-transform: none;
    font-weight: 700;
}

.discount {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: var(--color-fifth);
    text-transform: none;
}

.write-us {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 960px;
    transform: translate(-50%, -50%);
    padding: 65px 100px 85px;
    background-color: #ffffff;
    z-index: 100;
    box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
    box-sizing: border-box;
    animation-name: bounce-hide;
    animation-duration: 1s;
}

.write-us-show {
    display: block;
    animation-name: bounce;
    animation-duration: 1s;

}

.write-us-hide {
    display: none;
    animation-name: bounce-hide;
    animation-duration: 1s;
}

.write-us h2 {
    margin: 0;
    margin-bottom: 45px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    text-transform: none;
}

.contacts-form {
    position: relative;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: '';
    position: absolute;
    top: 85px;
    right: 88px;
    width: 25px;
    height: 4px;
    background-color: #fecccd;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.modal-close:hover::before,
.modal-close:hover::after {
    background-color: #fb565a;
    transition: .3s ease-in-out;
}

.modal-close:active::before,
.modal-close:active::after {
    background-color: #ffefef;
}

.modal-contacts-row {
    display: flex;
    justify-content: space-between;
}

.modal-contacts-row p {
    width: 360px;
    margin: 0;
    margin-bottom: 35px;
}

.modal-contacts-row label {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    text-transform: none;
}

.modal-contacts-row input {
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    margin-top: 6px;
    padding: 13px;
    border: 2px solid #e4e8e9;
    border-radius: 2px;
}

.modal-contacts-row input:hover {
    border: 2px solid #cdd0d2;
}

.modal-contacts-row input:active {
    border: 2px solid #555555;
}

.contacts-form > label {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    text-transform: none;
}

.contacts-form textarea {
    box-sizing: border-box;
    width: 100%;
    max-width: 760px;
    margin-top: 6px;
    margin-bottom: 45px;
    padding: 13px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    border: 2px solid #e4e8e9;
    border-radius: 2px;
}

.contacts-form textarea:hover {
    border: 2px solid #cdd0d2;
}

.contacts-form textarea:active {
    border: 2px solid #555555;
}

.contacts-form button {
    background-color: var(--color-primary);
    color: #ffffff;
}

.contacts-form button:hover {
    background-color: #e74246;
}

.contacts-form button:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
}

/*Key frames animation*/

@keyframes bounce {
    from { left: 0; }
    to { left: 50%; }
  }

@keyframes bounce-hide {
    from {left: 50%;}
    to { left: -200%;}
  }


@keyframes hide {
    from {opacity: 0}
    to {opacity: 1}
}

/*@keyframes down {*/
/*    30% {transform: translateY(-1000px);}*/
/*    50% {transform: translateY(-500px);}*/
/*    90% {transform: translateY(0);}*/
/*}*/




















